.about{
    padding-top: 10px;
    background-color: white;
    height: vh;
    width: vw;
    text-align: center;
}



.about p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    
}